{% extends 'global/base.html' %}

{% block content %}
    <section class="panel form-panel">
        <h1>{{ title }}</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'global/partials/_form_fields.html' %}
            <div class="actions">
                <button class="button" type="submit">{{ acao }}</button>
                <a class="button button-secondary" href="{% url 'accounts:usuarios' %}">Cancelar</a>
            </div>
        </form>
    </section>
{% endblock %}
