# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
.vs/

/.history
/.pytest_cache
/venv

db.sqlite3
static/
media/
base_ovino.xls
pdf_frontend/
diagramas/
anotacoes.md
reuniao.md

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
*.py[cod]
.env
frontend/.env.local
frontend/dist/
