# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
.vs/

/.history
/.pytest_cache
/venv

db.sqlite3
static/
media/
diagramas/
anotacoes.md

# Django stuff
*.log
*.pot
*.pyc
__pycache__/


