{% extends 'global/base.html' %}

{% block content %}
    <section class="panel form-panel">
        <h1>Login</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'global/partials/_form_field.html' %}
            <div class="actions">
                <button class="button" type="submit">Entrar</button>
                <a class="button button-secondary" href="{% url 'accounts:cadastro' %}">Cadastrar</a>
            </div>
        </form>
    </section>
{% endblock %}
