{% extends 'global/base.html' %}

{% block content %}
  <section class="panel form-panel">
    <h1>Editar perfil</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'global/partials/_form_field.html' %}
      <div class="actions">
        <button class="button" type="submit">Salvar</button>
        <a class="button button-secondary" href="{% url 'accounts:index' %}">Cancelar</a>
      </div>
    </form>
  </section>

  <script>
    <script>
    function limparNumeros(valor) {
        return valor.replace(/\D/g, '');
    }

    function mascaraTelefone(valor) {
        valor = limparNumeros(valor);

        if (valor.length <= 10) {
            valor = valor.replace(/^(\d{2})(\d)/g, '($1) $2');
            valor = valor.replace(/(\d{4})(\d)/, '$1-$2');
        } else {
            valor = valor.replace(/^(\d{2})(\d)/g, '($1) $2');
            valor = valor.replace(/(\d{5})(\d)/, '$1-$2');
        }

        return valor;
    }

    function mascaraCpfCnpj(valor) {
        valor = limparNumeros(valor);

        if (valor.length <= 11) {
            // CPF
            valor = valor.replace(/(\d{3})(\d)/, '$1.$2');
            valor = valor.replace(/(\d{3})(\d)/, '$1.$2');
            valor = valor.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
        } else {
            // CNPJ
            valor = valor.replace(/^(\d{2})(\d)/, '$1.$2');
            valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
            valor = valor.replace(/\.(\d{3})(\d)/, '.$1/$2');
            valor = valor.replace(/(\d{4})(\d)/, '$1-$2');
        }

        return valor;
    }

    // TELEFONE
    const telefoneInput = document.getElementById('phone-mask');

    telefoneInput.addEventListener('input', function(e) {
        e.target.value = mascaraTelefone(e.target.value);
    });

    // CPF/CNPJ
    const cpfCnpjInput = document.getElementById('cpf_cnpj-mask');

    cpfCnpjInput.addEventListener('input', function(e) {
        e.target.value = mascaraCpfCnpj(e.target.value);
    });
</script>
  </script>
{% endblock %}
