{% extends 'global/base.html' %}

{% block content %}
    <section class="panel form-panel">
        <h1>Editar Propriedade</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'global/partials/_form_field.html' %}
            <div class="actions">
                <button class="button" type="submit">Salvar</button>
                <a class="button button-secondary" href="{% url 'propriedade:listar' %}">Cancelar</a>
            </div>
        </form>
    </section>
{% endblock %}
