<header class="header">
  <h1 class="header-heading"><a href="{% url 'accounts:index' %}" class="header-link">OvinoCerto 2.6</a></h1>
  <nav class="menu">
    <ul class="menu-list">
      {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url 'accounts:index' %}" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
          <select name="propriedade" id="propriedade" class="menu-select" onchange="if (this.value) window.location.href = this.value">
            <option value="" selected disabled>Propriedade</option>
            <option value="{% url 'propriedade:cadastrar' %}">Cadastrar</option>
            <option value="{% url 'propriedade:listar' %}">Consultar</option>
          </select>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Ingredientes</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Formulacoes</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Exigencias Nutricionais</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'accounts:perfil' %}" class="menu-link">Perfil</a>
        </li>
        {% if usuario_pode_gerenciar_usuarios %}
          <li class="menu-item">
            <a href="{% url 'accounts:usuarios' %}" class="menu-link">Usuarios</a>
          </li>
        {% endif %}
        <li class="menu-item">
          <form action="{% url 'accounts:logout' %}" method="post" class="menu-form">
            {% csrf_token %}
            <button type="submit" class="menu-link menu-button">Sair</button>
          </form>
        </li>
      {% else %}
        <li class="menu-item">
          <a href="{% url 'accounts:login' %}" class="menu-link">Entrar</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'accounts:cadastro' %}" class="menu-link">Cadastrar</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
