{% if page_obj %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&busca={{request.GET.busca}}">&laquo; Primeiro</a>
                <a href="?page={{ page_obj.previous_page_number }}&busca={{request.GET.busca}}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&busca={{request.GET.busca}}">Próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&busca={{request.GET.busca}}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}